<div class="mt-5 col-md-12 main-container">
  <div class="col-sm-12 col-md-10 m-auto">
    <div class="text-center">
      <img alt="contact" src="../../assets/icon_contact.png" id="contact-icon">
      <div>
        CONTACT
      </div>
    </div>
    <div class="text-center" id="contact">
      <p><a href="mailto:info@skalaki.com" id="email">info@skalaki.com</a></p>
      <p>Villa Skalaki {{'sur' | translate}} <a target="blank" href="https://www.facebook.com/Villa-Skalaki-268584207403734/"><img src="../../assets/facebook.jpg" alt="facebook" id="fb"></a></p>
      <p>Messenger <a target="blank" href="http://m.me/268584207403734"><img src="../../assets/messenger.png" alt="messenger" id="messenger"/></a></p>
    </div>
    <div class="text-center">
      <iframe width="85%" height="450px" frameBorder="0" allowfullscreen src="https://umap.openstreetmap.fr/fr/map/villa-skalaki_308361?scaleControl=true&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=false&tilelayersControl=null&embedControl=false&datalayersControl=false&onLoadPanel=undefined&captionBar=false&measureControl=false&editinosmControl=false"></iframe>
      <p class="text-center"><a href="https://umap.openstreetmap.fr/fr/map/villa-skalaki_308361">{{'Voir en plein écran' | translate}}</a></p>
    </div>
  </div>
</div>
