<div class="mt-5 col-md-12 main-container">
  <div class="col-sm-12 col-md-10 m-auto">
    <div class="text-center">
      <img alt="addresses" src="../../assets/icone_addresses.png" id="addresses-icon">
      <div class="font-weight-bolder">
        {{'ADRESSES UTILES' | translate}}
      </div>
    </div>
    <div *ngIf="addresses1"  class="text-center col-md-8 offset-md-2 mb-3 col-sm-12 mt-5" id="addresses1"
      (click)="updateText(addresses1, updateTextTemplate)" innerHTML="{{addresses1.text}}">
    </div>
    <div class="text-center mt-5" *ngIf="currentLang === 'fr'" >
      <iframe width="100%" height="500px" frameborder="0" allowfullscreen src="https://umap.openstreetmap.fr/fr/map/adresses-utiles_317407?scaleControl=true&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=false&tilelayersControl=null&embedControl=false&datalayersControl=true&onLoadPanel=undefined&captionBar=false&fullscreenControl=true&measureControl=false&editinosmControl=false">
      </iframe>
    </div>
    <div class="text-center mt-5" *ngIf="currentLang === 'en'" >
      <iframe width="100%" height="500px" frameborder="0" allowfullscreen src="https://umap.openstreetmap.fr/fr/map/useful-addresses_317421?scaleControl=true&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=false&tilelayersControl=null&embedControl=false&datalayersControl=true&onLoadPanel=undefined&captionBar=false&fullscreenControl=true&locateControl=null&measureControl=false&editinosmControl=false"></iframe>
    </div>
  </div>
</div>

<ng-template #updateTextTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Event</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #textForm="ngForm">
      <div class="form-group col-sm-12">
        <label for="text">Text</label>
        <textarea rows="18" class="form-control" required id="text" [(ngModel)]="textModel.text" name="text"
          #text="ngModel"></textarea>
        <div *ngIf="text.invalid && (text.dirty || text.touched)" class="alert alert-danger">
          Text is required
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-success pull-right" [disabled]="!textForm.form.valid"
        (click)="saveText()">Submit</button>
    </form>
  </div>
</ng-template>
