.main-container {
    font-family: 'Candara';
}

.title {
    color: rgb(91, 156, 229);
    font-size: 1.2em; 
}

img {
    max-height: 50px;
}

.comment {
    border-radius: 0 0 15px 15px;
    border-bottom: none;
    margin-bottom: 8px;
}

.btn-comment {
    background-color: rgba(91, 156, 229);
    color: white;
}

.answer {
    max-width: 85%;
    margin-bottom: 10px;
}

.answer .comment-header {
    border-radius: 0 15px 0 0;
    background-color: #2E6099;
}

.answer .comment-body {
    border: 1px solid rgba(91, 156, 229);
    border-radius: 0 0 15px 15px;
    padding: 10px;
}

.comment div {
    padding: 8px;
}

.comment-header {
    background-color: rgba(91, 156, 229);
    border-radius: 15px 15px 0 0;
    font-weight: bolder;
    width: 100%;
    color: white;
}

.comment-body {
    border: 1px solid rgba(91, 156, 229);
    border-top: none;
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.623);
}

.comment-footer {
    background-color: rgba(202, 202, 202, 0.550);
    border: 1px solid rgba(91, 156, 229);
    border-top: none;
    border-radius: 0 0 6px 6px ;
    width: 100%;
    text-align: right;
    font-size: 1.1em; 
    color: white;
}

.average-container {
    padding: 5px;
    margin-bottom: 45px;
}

.eval-number {
    padding-left: 1;
    background-color:rgba(91, 156, 229);
    border-radius: 50% 50% 50% 50%;
    width: 35px;
    height: 35px;
    color: white;
    font-size: 1.6em;
}

.eval-number span {
    position: relative;
    top: -3px;
}
