<div class="mt-5 col-md-12 main-container">
  <div class="col-sm-12 col-md-8 m-auto">
    <div class="text-center">
      <img alt="goldenBook" src="../../assets/icon_golden_book.png" id="book-icon">
      <div class="font-weight-bolder title">
        {{"LIVRE D'OR" | translate}}
      </div>
    </div>
    <div class="col-sm-12 col-md-8 mt-5 offset-md-2 pb-3">
      <div class="average-container">
        <div class="pull-left d-inline-flex">
          <div class="eval-number text-center">
            <span>{{evaluationAverage}}</span>
          </div>
          <div class="d-flex align-items-start flex-column">
            <div class="p-0 flex-shrink-1" style="width:150px">
              <p-rating [(ngModel)]="evaluationAverage" [cancel]="false" [readonly]="true"></p-rating>
            </div>
            <div class="p-0 average-based">Based on {{numberOfEvaluation}} reviews</div>
          </div>
        </div>
        <div class="text-right">
          <button class="btn btn-info"
            (click)="commentModal(addComment)">{{'Laisser un commentaire' | translate}}</button>
        </div>
        <div *ngIf="comments.length === 0">
          <div class="no-comment">
            {{'Pas encore de commentaires' | translate}}
          </div>
        </div>
      </div>
      <div *ngIf="comments.length > 0" class="comments-container">
        <div *ngFor="let comment of comments | paginate: { itemsPerPage: 4, currentPage: p }">
          <div class="comment">
            <div class="comment-header d-inline-flex">
              <div class="p-2 w-100">
                {{comment.name}} | {{comment.stayStartDate | date:'dd/MM/yyyy'}} -
                {{comment.stayEndDate | date:'dd/MM/yyyy'}}
              </div>
              <div class="p-2 flex-shrink-1" style="width:150px">
                <p-rating [(ngModel)]="comment.evaluation" [cancel]="false" [readonly]="true"></p-rating>
              </div>
            </div>
            <div class="comment-body">
              {{comment.comment}}
            </div>
            <div class="comment-footer">
              {{comment.createdAt | date:'dd/MM/yyyy HH:mm'}}
              <div *ngIf="isAdmin">
                <button class="btn btn-primary mr-2"
                  (click)="answerCommentModal(comment, answerComment)">Answer</button>
                <button class="btn btn-danger" (click)="deleteComment(comment)">Delete</button>
              </div>
            </div>
          </div>
          <div class="answer ml-auto" *ngIf="comment.answer">
            <div class="comment-header d-inline-flex">
              <div class="p-2 w-100">
                {{'Réponse du propriétaire' | translate}}
              </div>
              <div class="p-2 flex-shrink-1" style="width:210px">
                <button class="btn btn-success d-inline-block mr-2" (click)="answerCommentModal(comment, answerComment)" >Edit</button>
                <button class="btn btn-danger d-inline-block" (click)="deleteCommentAnswer(comment)" >Delete</button>
              </div>
            </div>
            <div class="comment-body">
              {{comment.answer}}
            </div>
          </div>
        </div>
        <div class="text-center col-sm-12">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addComment>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Ajouter un avis' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="commentModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #commentForm="ngForm">
      <div class="form-group col-sm-12">
        <label for="name">{{'Name' | translate}}</label>
        <input type="text" class="form-control" required id="commentName"
          placeholder="{{'Entrez votre nom' | translate}}" [(ngModel)]="commentModel.name" name="commentName"
          #commentName="ngModel" />
        <div *ngIf="commentName.invalid && (commentName.dirty || commentName.touched)" class="alert alert-danger">
          {{'Le nom est requis' | translate}}
        </div>
      </div>
      <div class="row col-sm-12">
        <div class="col-sm-6 form-group">
          <label for="reservationStartDate">{{'Date de début du séjour' | translate}}</label>
          <p-calendar type="text" dateFormat="dd.mm.yy" required id="reservationStartDate"
            [(ngModel)]="commentModel.stayStartDate" name="reservationStartDate" #reservationStartDate="ngModel">
          </p-calendar>
          <div *ngIf="reservationStartDate.invalid && (reservationStartDate.dirty || reservationStartDate.touched)"
            class="alert alert-danger">
            {{'La date de début de séjour est requise' | translate}}
          </div>
        </div>
        <div class="col-sm-6 form-group">
          <label for="reservationEndDate">{{'Date de fin du séjour' | translate}}</label>
          <p-calendar type="text" dateFormat="dd.mm.yy" required id="reservationEndDate"
            [(ngModel)]="commentModel.stayEndDate" name="reservationEndDate" #reservationEndDate="ngModel"></p-calendar>
          <div *ngIf="reservationEndDate.invalid && (reservationEndDate.dirty || reservationEndDate.touched)"
            class="alert alert-danger">
            {{'La date de fin de séjour est requise' | translate}}
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <label for="comment">{{'Commentaire' | translate}}</label>
        <textarea style="width: 100%" rows="10" type="text" class="form-control" required id="comment"
          placeholder="{{'Entrez votre commentaire' | translate}}" [(ngModel)]="commentModel.comment" name="comment"
          #comment="ngModel"></textarea>
        <div *ngIf="comment.invalid && (comment.dirty || comment.touched)" class="alert alert-danger">
          {{'Le commentaire est requis' | translate}}
        </div>
      </div>
      <div class="form-group col-sm-12">
        <label for="comment">{{'Evaluation globale' | translate}}</label>
        <p-rating [(ngModel)]="commentModel.evaluation" [cancel]="false" name="rating"></p-rating>
      </div>
      <button type="button" class="btn btn-primary" (click)="commentModalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-success pull-right" [disabled]="!commentForm.form.valid"
        (click)="saveComment()">Submit</button>
    </form>
    <p-progressBar class="mt-2" *ngIf="loading > 0" [value]="loading"></p-progressBar>
  </div>
</ng-template>

<ng-template #answerComment>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Answer</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="answerCommentModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #answerForm="ngForm">
      <div class="form-group col-sm-12">
        <label for="comment">Answer</label>
        <textarea style="width: 100%" rows="10" type="text" class="form-control" required id="answer"
          placeholder="Answer" [(ngModel)]="commentModel.answer" name="answer" #answer="ngModel"></textarea>
        <div *ngIf="answer.invalid && (answer.dirty || answer.touched)" class="alert alert-danger">
          The answer is required!
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="answerCommentModalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-success pull-right" [disabled]="!answerForm.form.valid"
        (click)="saveComment()">Answer</button>
    </form>
  </div>
</ng-template>
