<div class="mt-5 col-md-12 main-container">
  <div class="col-sm-12 col-md-10 m-auto">
    <div class="section col-md-12">
      <div class="col-md-1 col-sm-12 section-title">
        Général
      </div>
      <div class="col-md-11 col-sm-12">
        <div class="equipment equipment-inline">
          <div class="pic">
            <img src="../../assets/icone_personnes.png" alt="personnes">
          </div>
          <div class="description description-center">
            6+
          </div>
        </div>
        <div class="equipment equipment-inline">
          <div class="pic">
            <img src="../../assets/icone_lit.png" alt="lit">
          </div>
          <div class="description description-center">
            3
          </div>
        </div>
        <div class="equipment equipment-inline">
          <div class="pic">
            <img src="../../assets/icone_sdb.png" alt="personnes">
          </div>
          <div class="description description-center">
            3
          </div>
        </div>
        <div class="equipment equipment-inline">
          <div class="pic">
            <img src="../../assets/icone_cuisine.png" alt="personnes">
          </div>
          <div class="description description-center">
            2
          </div>
        </div>
        <div class="equipment equipment-inline">
          <div class="pic">
            <img src="../../assets/icone_wifi.png" alt="personnes">
          </div>
          <div class="description description-center">
            wifi
          </div>
        </div>
        <div class="equipment">
          <div class="pic">
            <img src="../../assets/icone_airco.png" alt="personnes">
          </div>
          <div class="description description-center">
            A/C
          </div>
        </div>
        <div class="equipment equipment-inline">
          <div class="pic">
            <img src="../../assets/icone_piscine.png" alt="personnes">
          </div>
          <div class="description description-center">
            piscine
          </div>
        </div>
        <div class="equipment equipment-inline">
          <div class="pic">
            <img src="../../assets/icone_parking.png" alt="personnes">
          </div>
          <div class="description description-center">
            parking
          </div>
        </div>
      </div>
    </div>
    <div class="section col-md-12">
      <div class="col-md-1 col-sm-12 section-title">
        Haut
      </div>
      <div class="col-md-11 col-sm-12">
        <div class="col-md-6 col-sm-12">
          <div class="equipment">
            <div class="pic">
              <img src="../../assets/icone_lits.png" alt="lits">
              <div class="pic-desc">
                Chambre
              </div>
            </div>
            <div class="description">
              2 lits jumeaux 90x200
            </div>
          </div>
          <div class="equipment">
            <div class="pic">
              <img src="../../assets/icone_cuisine.png" alt="cuisine">
              <div class="pic-desc">
                Cuisine
              </div>
            </div>
            <div class="description">
              Réfrigirateur, Congélateur, Cuisinière, Four, Four M-O, Grille-pain, Percolateur, Bouilloire,
              Presse-agrumes, Ustensiles de cuisine, Vaisselle, Couverts
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="equipment">
            <div class="pic">
              <img src="../../assets/icone_sdb.png" alt="sdb">
              <div class="pic-desc">
                Salle de bain
              </div>
            </div>
            <div class="description">
              Douche, Baignoire, Lavabo, WC
            </div>
          </div>
          <div class="equipment">
            <div class="pic">
              <img src="../../assets/icone_séjour.png" alt="sejour">
              <div class="pic-desc">
                Séjour
              </div>
            </div>
            <div class="description">
              Table repas + 4 chaises <br />
              Salon avec canapé-lit
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section col-md-12">
      <div class="col-md-1 col-sm-12 section-title">
        Bas
      </div>
      <div class="col-md-11 col-sm-12">
        <div class="col-md-6 col-sm-12">
          <div class="equipment">
            <div class="pic">
              <img src="../../assets/icone_lit.png" alt="lit">
              <div class="pic-desc">
                Chambre 1
              </div>
            </div>
            <div class="description">
              Lit king-size 160x200
            </div>
          </div>
          <div class="equipment">
            <div class="pic">
              <img src="../../assets/icone_lit.png" alt="lit">
              <div class="pic-desc">
                Chambre 2
              </div>
            </div>
            <div class="description">
              Lit king-size 160x200, minibar
            </div>
          </div>
          <div class="equipment">
            <div class="pic">
              <img src="../../assets/icone_cuisine.png" alt="cuisine">
              <div class="pic-desc">
                Cuisine
              </div>
            </div>
            <div class="description">
              Réfrigirateur, Congélateur, Taques céramiques, Four multifonctions, Lave-vaisselle, Grille-pain,
              Percolateur, Bouilloire, Presse-agrumes, Ustensiles de cuisine, Vaisselle, Couverts
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="equipment">
            <div class="pic">
              <img src="../../assets/icone_sdb.png" alt="sdb">
              <div class="pic-desc">
                Salle de Bain 1
              </div>
            </div>
            <div class="description">
              Baignoire + douche, Lavabo, WC
            </div>
          </div>
          <div class="equipment">
            <div class="pic">
              <img src="../../assets/icone_sdb.png" alt="sdb">
              <div class="pic-desc">
                Salle de Bain 2
              </div>
            </div>
            <div class="description">
              Douche, Lavabo, WC
            </div>
          </div>
          <div class="equipment">
            <div class="pic">
              <img src="../../assets/icone_séjour.png" alt="séjour">
              <div class="pic-desc">
                Séjour
              </div>
            </div>
            <div class="description">
              Table repas + 6 chaises<br>
              Bar + 4 tabourets<br>
              Salon avec canapé-lit
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section col-md-12">
      <div class="col-md-1 col-sm-12 section-title">
        Communs
      </div>
      <div class="col-md-11 col-sm-12">
        <div class="col-md-6 col-sm-12">
          <div class="equipment">
            <div class="pic">
              <img src="../../assets/icone_buanderie.png" alt="buanderie">
              <div class="pic-desc">
                Buanderie
              </div>
            </div>
            <div class="description">
              Lave-linge, Fer et table a repasser, Etendoir, Aspirateur, Ustensiles de ménage, WC
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="equipment">
            <div class="pic">
              <img src="../../assets/icone_extérieur.png" alt="extérieur">
              <div class="pic-desc">
                Extérieurs
              </div>
            </div>
            <div class="description">
              Piscine 25m², Lits de soleil, Douche, Talbes, Chaises, Parasols, Barbecue, Jardin
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section no-border col-md-12">
      <div class="col-md-1 col-sm-12 section-title">

      </div>
      <div class="col-md-11 col-sm-12">
        <div class="col-sm-12">
          <div class="equipment">
            Linge de maison fourni et changé chaque semaine, ménage et entretien de la piscine 1x par semaine.<br>
            Location partielle possible avec maximum 2 locations distinctes simultanées, la chambre 2 du bas ne pouvant
            être louée isolément (voir tarifs).<br>
            Location non fumeur.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>