.main-container {
    color: rgb(91, 156, 229);
    font-family: 'Candara';
    font-size: 1.2em;
}

img {
    max-height: 40px;
}

.ps{
    margin-top: 50px;
    font-size: 0.8em;
}

@media only screen and (max-width: 580px) {
    .row {
        margin-bottom: 20px;
    }
}
