<div class="mt-5 col-md-12 main-container">
  <div class="col-sm-12 col-md-6 m-auto">
    <div class="text-center">
      <img src="../../assets/icon_euro.png" alt="euro">
      <div>
        TARIFS
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-10 col-sm-12 d-inline-block">
        Villa entière (3chambre, 6+ personnes, 150m²)
      </div>
      <div class="col-md-2 col-sm-12 d-inline-block">
        € 200 / nuit
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-sm-12 d-inline-block">
        Haut (1 chambre, 2+ personnes, 50m²)
      </div>
      <div class="col-md-2 col-sm-12 d-inline-block">
        € 110 / nuit
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-sm-12 d-inline-block">
        Bas (1 chambre, 2+ personnes, 75m²)
      </div>
      <div class="col-md-2 col-sm-12 d-inline-block">
        € 120 / nuit
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-sm-12 d-inline-block">
        Bas (2 chambres, 4+ personnes, 100m²)
      </div>
      <div class="col-md-2 col-sm-12 d-inline-block">
        € 140 / nuit
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 ps">
        Caution: 500€<br>
        Prix charges comprises sous réserve d'une utilisation en bon père de famille
      </div>
    </div>
  </div>
</div>
