<div class="mt-5 main-container">
  <div class="text-center">
    <img src="../../assets/icon_euro.png" alt="euro">
    <div>
      {{'TARIFS' | translate}}
    </div>
  </div>
  <div class="d-none col-md-12 d-md-inline-block prices">
    <table class="m-auto">
      <tr>
        <td>
          {{'Villa entière' | translate}} (3 {{'chambres' | translate}}, 6+ {{'personnes' | translate}}, 150m²)
        </td>
        <td>
          € 200 / {{'nuit' | translate}}
        </td>
      </tr>
      <tr>
        <td>
          {{'Haut' | translate}} (1 {{'chambre' | translate}}, 2+ {{'personnes' | translate}}, 50m²)
        </td>
        <td>
          € 110 / {{'nuit' | translate}}
        </td>
      </tr>
      <tr>
        <td>
          {{'Bas' | translate}} (1 {{'chambre' | translate}}, 2+ {{'personnes' | translate}}, 75m²)
        </td>
        <td>
          € 120 / {{'nuit' | translate}}
        </td>
      </tr>
      <tr>
          <td>
              {{'Bas' | translate}} (2 {{'chambres' | translate}}, 4+ {{'personnes' | translate}}, 100m²)
          </td>
          <td>
            € 140 / {{'nuit' | translate}}
          </td>
        </tr>
    </table>
  </div>
  <div class="col-sm-12 d-sm-inline-block d-md-none prices">
    <div class="row">
      <div class="col-md-9 col-sm-12 d-inline-block">
        {{'Villa entière | translate'}} (3 {{'chambres' | translate}}, 6+ {{'personnes' | translate}}, 150m²)
      </div>
      <div class="col-md-3 col-sm-12 d-inline-block text-center">
        € 200 / {{'nuit' | translate}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-12 d-inline-block">
        {{'Haut' | translate}} (1 {{'chambre' | translate}}, 2+ {{'personnes' | translate}}, 50m²)
      </div>
      <div class="col-md-3 col-sm-12 d-inline-block text-center">
        € 110 / {{'nuit' | translate}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-12 d-inline-block">
        {{'Bas' | translate}} (1 {{'chambre' | translate}}, 2+ {{'personnes' | translate}}, 75m²)
      </div>
      <div class="col-md-3 col-sm-12 d-inline-block text-center">
        € 120 / {{'nuit' | translate}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-12 d-inline-block">
        {{'Bas' | translate}} (2 {{'chambres' | translate}}, 4+ {{'personnes' | translate}}, 100m²)
      </div>
      <div class="col-md-3 col-sm-12 d-inline-block text-center">
        € 140 / {{'nuit' | translate}}
      </div>
    </div>
  </div>
  <div>
      <div class="col-sm-12 ps text-center">
        {{'Caution' | translate}}: 500€<br>
        {{'Prix charges comprises sous réserve d\'une utilisation en bon père de famille' | translate}}
      </div>
    </div>
</div>
