.main-container {
    color: rgb(91, 156, 229);
    font-family: 'Candara';
    font-size: 1.2em;
}

img {
    max-height: 40px;
}

.ps{
    margin-top: 50px;
    font-size: 0.8em;
}

.prices {
    margin-top: 80px;
}

tr td:last-child {
    min-width: 100px;
}

tr td:first-child {
    padding-right: 50px;
}

.picture {
    margin-top: 25px;
    width: 100%;
    height: 400px;
}

.picture img {
    width: auto;
    max-height: 100% !important;
}

@media only screen and (max-width: 580px) {
    .row {
        margin-bottom: 20px;
    }

    .picture {
        margin-top: 25px;
        width: 100%;
        height: 200px;
    }

    .prices {
        padding: 0;
    }

    .prices .d-inline-block {
        text-align: center;
        padding: 0;
    }
}
