.router {
    height: 100%;
    background-image: url('../assets/seamless_background.jpg');
    background-repeat: repeat;
    background-size: 100%;
    display: inline-block;
}

#outlet {
    overflow-y: auto;
}

#vertical-logo img{
    width:100%;
    opacity: 0.17;
}

#vertical-logo {
    vertical-align: top;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

#scroller {
    position: absolute;
    bottom: 5px;
    left: 50%;
    cursor: pointer;
}

#scroller img {
    max-width: 50px;
    background-color: rgba(48, 48, 48, 0.3);
    border-radius: 8px;
}


/** SKALAKI */

.pic {
    position: fixed;
    left: 0;
    right: unset; 
    top: 0;
    height: 100%;
    z-index: -1;
}

.main {
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    font-family: 'Borealis';
    color: white;
}

.welcome {
    text-align: center;
    z-index: 15;
    height: 100%;
}

.welcome-button {
    position: relative;
    top:40%;
    vertical-align: middle;
    font-size: 6em;
}


.enter-button {
    margin-top: -150px;
    font-size: 0.35em;
}

.footer {
    position: absolute;
    bottom: 0;
    z-index: 15;
    text-align: center;
    width: 100%;
    font-size: 3em;
}

#lg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 15000;
    background-color: rgba(0, 0, 0, 0.425);
    padding: 7px;
    max-height: 150px;
    border-bottom-left-radius: 20px;
}

#lg img {
    max-width: 30px;
    cursor: pointer;
}

.flag-border {
    border: 3px solid rgb(48, 85, 128);
    border-radius: 50%;
    max-width: 33px;
}

@media only screen and (max-width: 580px) {
    #footer {
        display: none;
    }

    #vertical-logo {
        display: none;
    }

    /* SKALAKI */
    .welcome-button {
        position: relative;
        top:20%;
        vertical-align: middle;
        font-size: 2.8em;
    }

    .enter-button {
        margin-bottom: -150px;
        font-size: 0.35em;
    }

    .footer {
        position: absolute;
        bottom: 0;
        z-index: 15;
        text-align: center;
        width: 100%;
        font-size: 1.9em;
    }
}