<div class="router col-lg-12 p-0" *ngIf="entered" id="main-container">
  <div class="d-inline-block col-lg-12 p-0" id="nav">
    <app-nav></app-nav>
  </div>
  <div class="col-sm-1 pt-5 pl-2 pr-2" id="vertical-logo">
    <img src="../assets/Skalaki_grec.png" alt="skalakigrec" />
  </div>
  <div class="col-sm-11 d-inline-block" id="outlet">
    <router-outlet></router-outlet>
  </div>
  <div id="scroller" (click)="scrollTo()">
    <img src="../assets/scroll.png" alt="scroll" />
  </div>
</div>

<div style="text-align:center" class="main" *ngIf="!entered" resize>
  <img src="../assets/fond_accueil.jpg" class="pic" alt="background" id="bgrnd" />
  <div class="welcome">
    <div id="lg">
      <div id="flags">
        <span>
          <img src="../assets/fr_flag.png" (click)="setLanguage('fr')" alt="fr_flag" class="mr-2 flag flag-border"
            [class.flag-border]="isCurrentLanguage('fr')" />
        </span>
        <span>
          <img src="../assets/en_flag.png" (click)="setLanguage('en')" alt="en_flag" class="flag"
            [class.flag-border]="isCurrentLanguage('en')" />
        </span>
      </div>
    </div>
    <div class="welcome-button">
      <p class="m-0">Skalaki</p>
      <button type="button" class="btn btn-outline-light enter-button" (click)="onEnter()">Enter</button>
    </div>
    <div class="footer">
      <p (click)="updateText(skalaki1, updateTextTemplate)">{{skalaki1.text}}</p>
    </div>
  </div>
</div>

<ng-template #updateTextTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Event</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #textForm = "ngForm">
      <div class="form-group col-sm-12">
        <label for="text">Text</label>
        <textarea rows="18" class="form-control" required id="text" [(ngModel)]="textModel.text" name="text" #text="ngModel"></textarea>
        <div *ngIf="text.invalid && (text.dirty || text.touched)" class="alert alert-danger">
          Text is required
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-success pull-right" [disabled]="!textForm.form.valid" (click)="saveText()">Submit</button>
    </form>
  </div>
</ng-template>