<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="ftpConnectionString" value="ftp://51.68.120.33/"/>
        <add key="ftpDirectory" value="SiteCrete.Client/"/>
        <add key="localDirectory" value="C:\Projects\MyProjects\SiteCrete\SiteCrete.Client\dist\SiteCrete"/>
        <add key="username" value="ftpuser" />
        <add key="password" value="T5hDOrzUtHlCPpRvWEmq" />
        <add key="sshurl" value="51.68.120.33" />
        <add key="deleteCommand" value="rm -r /opt/SiteCrete.Client" />
        <add key="createCommand" value="mkdir /opt/SiteCrete.Client" />
    </appSettings>
</configuration>