<div class="mt-5 col-md-12 main-container">
    <div class="col-sm-12 col-md-10 m-auto">
      <div class="text-center">
        <img alt="discover" src="../../assets/icone_discover.png" id="discover-icon">
        <div>
          DISCOVER
        </div>
      </div>
      <div class="text-center col-md-8 offset-md-2 mb-3 col-sm-12" id="discover">
          Moins touristique que la partie ouest de l'île, la Crète orientale a gardé un caractère rustique et authentique.
          Plages paradisiaques, côtes rocheuses majestueuses, villages pittoresques, sites archéologiques,
          gorges arides et impressionnantes, les sites d'intérêt ne manquent pas.
      </div>
      <div class="text-center">
        <iframe width="100%" height="500px" frameborder="0" allowfullscreen src="https://umap.openstreetmap.fr/fr/map/crete-de-lest_308392?scaleControl=true&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=false&tilelayersControl=null&embedControl=false&datalayersControl=null&onLoadPanel=undefined&captionBar=false&datalayers=813223&fullscreenControl=true&measureControl=false&editinosmControl=false">
        </iframe>
      </div>
    </div>
  </div>
  