.main-container {
    font-family: 'Candara';
    color: rgba(91, 156, 229, 255);
    font-size: 1.2em;
    padding: 0;
}

img {
    max-height: 60px;
}

#discover {
    margin-top: 80px;
}

.main-container > div {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.place {
    background-color: rgba(0, 0, 0, 0.068);
}

.discover-card {
    display: inline-block;
    padding: 6px;
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.808);
    width: 100%;
    height: 45px;
    -webkit-box-shadow: 0px 0px 37px 0px rgba(181,181,181,1);
    -moz-box-shadow: 0px 0px 37px 0px rgba(181,181,181,1);
    box-shadow: 0px 0px 37px 0px rgba(181,181,181,1);
    cursor: pointer;
    transition: transform .25s ease;
    border-radius: 4px;
    font-size: 1.03em;
    font-weight: bold;
    vertical-align: center;
}

.discover-card:hover{
    transform: scale(1.02);
}

.selected {
    background-color: rgba(91, 156, 229, 255);
    color: white;
}

.discover-title {
    font-weight: bold;
    font-size: 2.3em;
    height: 100%;
    vertical-align: top;
}

.discover-icon {
    margin-left: 18px;
    padding-left: 10px;
}

.discover-icon .description-center {
    text-align: center;
}

.pic {
    text-align: center;
}

.discover-icon .pic img {
    display: inline-block;
    height: 35px;
}