.pic {
    position: fixed;
    left: 0;
    right: unset; 
    top: 0;
    height: 100%;
    z-index: -1;
}

.main {
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    font-family: 'Borealis';
    color: white;
}

.welcome {
    text-align: center;
    z-index: 15;
    height: 100%;
}

.welcome-button {
    position: relative;
    top:40%;
    vertical-align: middle;
    font-size: 6em;
}


.enter-button {
    margin-top: -150px;
    font-size: 0.35em;
}

.footer {
    position: absolute;
    bottom: 0;
    z-index: 15;
    text-align: center;
    width: 100%;
    font-size: 3em;
}

#footer {
    display: none;
}
