<div class="mt-5 main-container offset-2">
  <div class="p-text col-lg-10 p-0">  
  <p>
    La villa Skalaki se situe à 250 mètres d’altitude, en bordure de Sfaka, petit village pittoresque de l’est de la
    Crète, à seulement 5km du charmant petit village côtier de Mochlos.
  </p>
</div>
  <div class="col-lg-10 p-0">
    <div class="p-picture col-sm-6 pl-0">
      <img src="../../assets/villa.jpg">
    </div>
    <div class="col-lg-6 col-md-4 col-sm-2 p-text">
      <p>
        Logée à flan de colline, sans voisins, elle jouit d’une vue sur un cirque montagneux majestueux dont vous
        profiterez depuis l’une des nombreuses terrasses ou en vous prélassant dans la piscine à débordement. Tout
        autour, des oliviers (dont 32 sur la propriété) s’étendent à perte de vue.
        D’une superficie de 150 m², la villa comporte 3 chambres doubles, chacune avec sa salle de bain. Deux cuisines
        équipées permettent une location partielle ou entière de la maison. Que vous soyez 2, 4, 6 ou plus, vous
        trouverez toujours une solution locative adaptée.
      </p>
    </div>
  </div>
  <div class="pt-4 col-lg-10 p-0">
    <div class="col-lg-5 col-md-3 col-sm-2 pl-0 p-text">
      En haut, vous profiterez de 3 terrasses dont les orientations variées satisferont vos désirs de soleil ou d’ombre
      tout au long de la journée.
      En bas chaque chambre possède sa petite terrasse et vous apprécierez le large patio couvert lors de vos douces
      soirées à l’extérieur.
      Près de la piscine, un espace barbecue est à votre disposition.
    </div>
    <div class="col-lg-7 col-md-4 col-sm-3 p-picture pr-0">
      <img src="../../assets/plan.png">
    </div>
  </div>
</div>
