.main-container {
    font-family: 'Candara';
    color: rgba(91, 156, 229, 255);
    font-size: 1.2em;
    padding: 0;
}

.p-picture {
    display: inline-block;
    padding-left: 0;
}

.p-picture img{
    width: 100%;
    height: auto;
}

.p-text {
    vertical-align: top;
    display: inline-block;
    text-align: justify;
    padding-right:0;
}

#plan {
    padding-top: 5px;
}

#preview {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top:0;
    left:0;
    z-index: 10000;
    display: inline-block;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#img-wrapper {
    flex: 1 1 auto;
    position: relative;
}

#img-preview {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    vertical-align: middle;
    top:0;
    left:0;
}

img {
    cursor: pointer;
}

@media only screen and (max-width: 580px) {
    .p-picture {
        padding: 0 0 15px 0;
    }

    .p-text {
        padding: 0;
    }
}