<div class="mt-5 col-md-12 main-container">
  <div class="col-sm-12 col-md-8 m-auto">
    <div class="p-text col-md-12 p-0">
      <p>
        {{description1}}
      </p>
    </div>
    <div class="col-md-12 p-0">
      <div class="p-picture col-sm-12 col-md-6">
        <img src="../../assets/villa.jpg" alt="villa" (click)="preview('../../assets/villa.jpg')">
      </div>
      <div class="col-md-6 col-sm-12 p-text">
        <p>
          {{description2}}
        </p>
      </div>
    </div>
    <div class="pt-4 col-md-12 p-0">
      <div class="col-md-5 col-sm-12 pl-0 p-text">
        {{description3}}
      </div>
      <div class="col-md-7 col-sm-12 p-picture pr-0" id="plan">
        <img src="../../assets/plan_1.png" alt="plan" (click)="preview('../../assets/plan_1.png')" >
      </div>
    </div>
  </div>
</div>
<div id="preview" *ngIf="isPreview" (click)="isPreview = false" >
  <div id="wrapper">
    <div id="img-wrapper">
        <img [src]="previewUrl" alt="preview" id="img-preview"/>
    </div>
  </div>
</div>
